<div class="container">
    <footer class=" container py-3 my-4 ">

        <img class="position-relative top-60 start-50 translate-middle" width="50" height="50" src="/imagenes/logo.png" alt="">
        <ul class="nav justify-content-center border-bottom border-top pb-3 mb-3">
            <li class="nav-item">
                <a href="/inicio" class="nav-link px-2 text-muted">Inicio</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link px-2 text-muted">Partidas</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link px-2 text-muted">Equipo</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link px-2 text-muted">Tabla de posiciones</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link px-2 text-muted">Estadistica</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link px-2 text-muted">Nostros</a>
            </li>
        </ul>
        <div class="d-flex justify-content-between ">
            <p>VNL 2021 | Todos los derechos reservados</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3">
                    <a class= "link-dark" href="#">
                        <img class="bi" width="24" height="24" src="/imagenes/Facebook.svg.png" alt="">
                    </a>
                </li>
                <li class="ms-3">
                    <a class= "link-dark" href="#">
                        <img class="bi" width="24" height="24" src="/imagenes/instagram.png" alt="">
                    </a>
                </li>
            </ul>
        
    </footer>
    </div>
</div>